* { margin:0; padding:0; scroll-behavior: smooth;   transition: all 0.5s ease;}

html {
    background-image: url("./img/squaredots.svg");
    background-size: 10px;
    background-color: var(--dot-background)
}

a {
  color: var(--text-color);
}

.sidenav {
  position: fixed;
  left:calc(var(--half-of-max-width)/10);
}

@media only screen and (max-width:1200px) {
  .sidenav{
    opacity: 0;
  }
}

nav > a {
    font-style: italic;
}

body{
    margin: var(--spacing) auto;
    max-width: var(--max-width);
    line-height: 1.6;
    font-family: "IBM Plex Mono", monospace;
    font-size: var(--font-size);
    color: var(--text-color);
    padding: var(--spacing);
    background: var(--background);
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

header, nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0 var(--spacing);
}

section{
    margin: var(--section-margin) 0;
}

footer {
    margin: var(--spacing) 0;
}

li { list-style-type: none;}
h1,h2,h3 {line-height:1.6}

h1 {
    font-size: var(--font-size-big); 
    margin: 0 0 var(--spacing) 0;
}

header > h1 { margin: 0;}

button, .github-button{
  display:flex;
  align-items: center;
  justify-content: center;
  background: var(--background);
  border: solid var(--border-width) var(--text-color);
  border-radius: var(--border-radius-small);
  font-size: var(--font-size-small);
  padding: var(--spacing-small);
  color: var(--text-color);
  text-decoration: none;
}

button:hover {
	background-color: var(--text-color);
	color: var(--background);
}

.github-button > .icon{
  height: var(--spacing);
}

.github-button:hover > .icon{
  filter: invert();
}
.github-button:hover {
  background-color: var(--text-color);
  color: var(--background);
}

#hero {
  margin: 40px 0;
  height: 70vh;
}

.column {
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 100%;
}

@keyframes appear{
  0%   { opacity: 0%;  }
  50%  { opacity: 0%;  }
  100% { opacity: 100%;}
}

.me {
    align-self: end;
    animation: appear 1s ease-out;
    border-radius: var(--border-radius);
    object-position: 45% 55%;
    width:100%;
    overflow: hidden;
    border: var(--border-width) solid var(--text-color);
}

@media screen and (max-width:800px) {
  #hero {
    margin-bottom: var(--section-margin);

  }

  .me {
    height: 50vh;
    object-fit: cover;
    object-position: 50% 10%;
  }

  .down-arrow {
    display: none;
  }
}

.hbox {
    display:flex;
    justify-content: space-between;
    gap: var(--spacing);
}

.vbox {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(var(--half-of-max-width)), 1fr));
    grid-gap: var(--spacing);
}

.item, .project {
    display: flex;
    flex-direction: column;
    padding: var(--spacing);
    border-radius: var(--border-radius);
    border: var(--border-width) solid var(--text-color);
    background-color: var(--card-background);
}

.project:hover {
    cursor: pointer;
    filter: none;
    max-height: none;
    transition: 1s;
}

.project-image {
    width: 100%;
    aspect-ratio: 1.5;
    object-fit: cover;
    border-radius: var(--border-radius);
    border: var(--border-width) solid var(--text-color);
}

.project > p, #about > p {
  font-size: var(--font-size-small);
  margin: var(--spacing) 0;
}

.icon {
    width: 4rem;
    transition: transform 0.5s ease-in-out;
    filter: none;
}

.start {
    justify-content: start;
    align-items: center;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.labels {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-small);
  align-items: start;
}

.label {
  font-size: var(--font-size-small);
  border-radius: var(--border-radius-small);
  border: var(--border-width) solid;
  padding: 0 var(--spacing-small);
  color: var(--text-color);
}

.language {
  width: 35px; /* Adjust the width and height as needed */
  height: 35px;
  border-radius: var(--border-radius); /* Makes the element round */
  border: 1px solid var(--text-color); /* White border */
  overflow: hidden; /* Clips the image to the rounded shape */
}

@keyframes jump {
  50% {
    color: var(--background);
  }
}

/* Apply the jumping effect to the section when it's in focus */
.jumping-effect > h1, .jumping-effect > h2{
  animation: jump 1s ease-in-out 1;
}

.js {
  background: #f7df1e;
  border-color: #e1ca1b;
  color:black;
}

.css {
  color: white;
  background: #2859EA;
  border-color: #0E1D57;
}

.react {
  background: #61DBFC;
  border-color: #3E8BA0;
}

.firebase {
  background: #FFCB2C;
  border-color:#FEA510;
}

.express {
  background: #323230;
  border-color: #222221;
}

.psql {
  background: #356790;
  border-color: black;
}

.node {
  color: white;
  background:#8BC402;
  border-color: #4F7100;
}
